name: vibe check?

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Pass Check
        run: echo "Passing vibe check!"

      - name: Generate Badge
        uses: emibcn/badge-action@v2.0.2
        with:
          label: 'Vibe'
          status: 'Checked'
          color: '#333333, #66F966' # Hex equivalent of rgb(102, 249, 102)
